name: Update SQLite Database

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  update_database:
    runs-on: ubuntu-22.04

    steps:
      # 1. Checkout del c贸digo
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Configuraci贸n de Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      # 3. Instalar Google Chrome
      - name: Install Google Chrome
        run: |
          sudo apt update
          sudo apt install -y google-chrome-stable

      # 4. Instalar dependencias de Python (incluye Selenium, Playwright y webdriver-manager)
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install selenium webdriver-manager playwright  # Se instala Playwright

      # 5. Instalar navegadores de Playwright
      - name: Install Playwright browsers
        run: |
          playwright install --with-deps  # Asegura la instalaci贸n completa de los navegadores

      # 6. Verificar instalaci贸n de SQLAlchemy
      - name: Verify SQLAlchemy installation
        run: |
          python -m pip show sqlalchemy || python -m pip install sqlalchemy

      # 7. Verificar la base de datos SQLite
      - name: Check SQLite database
        run: |
          if [ ! -f "./alerts2.db" ]; then
            echo "Creating new SQLite database..."
            touch alerts2.db
          fi

      # 8. Ejecutar el script principal
      - name: Run main.py
        run: python main.py

      # 9. Subir cambios de SQLite al repositorio
      - name: Commit and push updated SQLite
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add alerts2.db
          git commit -m "Update SQLite database [skip ci]" || echo "No changes to commit"
          git push origin main
